*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
.div1 {
    background-color: white;
    height: 300px;
}
.div2 {
    background-color: white;
    height: 300px;
}
@media only screen and (min-width:1200px){
    .div1 {
        width: 49%;
        display:inline-block;
        font-size: 20px;
    }
    .div2 {
        width: 49%;
        display:inline-block;
        font-size: 20px;
    }
}
@media only screen and (min-width:768px) and (max-width:1199px){
    .div1 {
        width: 100%;
        display:block;
        font-size: 16px;
    
    }
    .div2 {
        width: 100%;
        display:block;
        font-size: 16px;
    }
    }
    @media only screen and (min-width:350px) and (max-width:767px){
        .div1{
            width: 100%;
            display:block;
            font-size: 16px;
            background-color: blue;
            
        
        }
    .div2{
            width: 100%;
            display:block;
            font-size: 16px;
            background-color: yellow;
        }
        }